Import libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
opioid_ds = "Accidental_Drug_Related_Deaths_2012-2018.csv"
opioid_base_df = pd.read_csv(opioid_ds)

# pd.read_csv(filename, nrows=5, header=None, sep='\t', comment='#', na_values=[""])

In [3]:
opioid_base_df.head()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,17-0206,3/10/17 0:00,DateReported,51.0,Male,White,NEW LONDON,NEW LONDON,CT,6340,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"06340, CT\n(41.077925, -73.216497)","NEW LONDON, CT\n(41.355167, -72.099561)","GROTON, CT\n(41.343693, -72.07877)"
1,13-0102,3/21/13 0:00,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0537,8/7/16 0:00,DateofDeath,44.0,Male,White,ANSONIA,NEW HAVEN,CT,ANSONIA,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"ANSONIA, CT\n(41.34198, -73.078296)","ANSONIA, CT\n(41.34198, -73.078296)","ANSONIA, CT\n(41.34198, -73.078296)"
3,16-0371,6/3/16 0:00,DateofDeath,57.0,Female,White,ANSONIA,NEW HAVEN,CT,ANSONIA,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"ANSONIA, CT\n(41.34198, -73.078296)","ANSONIA, CT\n(41.34198, -73.078296)","ANSONIA, CT\n(41.34198, -73.078296)"
4,13-0052,2/13/13 0:00,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

Start removing inconsistent data

In [4]:
print(opioid_base_df.iloc[0:10,[0,1,2,3,4,9,10,-3]])

        ID           Date      DateType   Age     Sex      DeathCity  \
0  17-0206   3/10/17 0:00  DateReported  51.0    Male           6340
1  13-0102   3/21/13 0:00   DateofDeath  48.0    Male        NORWALK
2  16-0537    8/7/16 0:00   DateofDeath  44.0    Male        ANSONIA
3  16-0371    6/3/16 0:00   DateofDeath  57.0  Female        ANSONIA
4  13-0052   2/13/13 0:00   DateofDeath  22.0    Male      GREENWICH
5  14-0277   6/29/14 0:00   DateofDeath  23.0    Male        BRISTOL
6  12-0205   8/12/12 0:00   DateofDeath  21.0  Female  WEST HARTFORD
7  13-0404  11/10/13 0:00   DateofDeath  40.0  Female      NEW HAVEN
8  12-0107   4/25/12 0:00   DateofDeath  40.0    Male  EAST HARTFORD
9  13-0161   5/15/13 0:00   DateofDeath  50.0    Male      MONTVILLE

  DeathCounty                                DeathCityGeo
0         NaN          06340, CT\n(41.077925, -73.216497)
1   FAIRFIELD         Norwalk, CT\n(41.11805, -73.412906)
2         NaN         ANSONIA, CT\n(41.34198, -73.078296)
3         NaN         ANSONIA, CT\n(41.34198, -73.078296)
4   FAIRFIELD      Greenwich, CT\n(41.026526, -73.628549)
5    HARTFORD        BRISTOL, CT\n(41.673037, -72.945791)
6    HARTFORD  WEST HARTFORD, CT\n(41.762008, -72.741807)
7   NEW HAVEN      New Haven, CT\n(41.308252, -72.924161)
8    HARTFORD  EAST HARTFORD, CT\n(41.769319, -72.643785)
9  NEW LONDON       MONTVILLE, CT\n(41.45303, -72.136336)

In [5]:
zip_elim = opioid_base_df['DeathCity'].replace('6340','BOROUGH')
zip_elim.head()

0      BOROUGH
1      NORWALK
2      ANSONIA
3      ANSONIA
4    GREENWICH
Name: DeathCity, dtype: object

In [6]:
# df.replace(to_replace=r'^ba.$', value='new', regex=True)
zipDCG_elim = opioid_base_df['DeathCityGeo'].replace('06340, CT\n(41.077925, -73.216497)', 'BOROUGH, CT\n(41.077925, -73.216497)')
zipDCG_elim.head()

0      BOROUGH, CT\n(41.077925, -73.216497)
1       Norwalk, CT\n(41.11805, -73.412906)
2       ANSONIA, CT\n(41.34198, -73.078296)
3       ANSONIA, CT\n(41.34198, -73.078296)
4    Greenwich, CT\n(41.026526, -73.628549)
Name: DeathCityGeo, dtype: object

In [7]:
opioid_base_df['DeathCity'] = opioid_base_df['DeathCity'].replace('6340','BOROUGH')
print(opioid_base_df['DeathCity'].head())
opioid_base_df['DeathCityGeo'] = opioid_base_df['DeathCityGeo'].replace('06340, CT\n(41.077925, -73.216497)', 'BOROUGH, CT\n(41.077925, -73.216497)')
print(opioid_base_df['DeathCityGeo'].head())

0      BOROUGH
1      NORWALK
2      ANSONIA
3      ANSONIA
4    GREENWICH
Name: DeathCity, dtype: object
0      BOROUGH, CT\n(41.077925, -73.216497)
1       Norwalk, CT\n(41.11805, -73.412906)
2       ANSONIA, CT\n(41.34198, -73.078296)
3       ANSONIA, CT\n(41.34198, -73.078296)
4    Greenwich, CT\n(41.026526, -73.628549)
Name: DeathCityGeo, dtype: object

In [8]:
# opioid_base_df['DeathCounty'] = opioid_base_df['DeathCounty',0]
print(opioid_base_df['DeathCounty'][0])

nan

In [9]:
opioid_base_df['DeathCounty'][0] = 'NEW LONDON'
# opioid_base_df['DeathCounty'][0] = opioid_base_df['DeathCounty'][0].replace('NEW LONDON')
print(opioid_base_df['DeathCounty'].head(3))

0    NEW LONDON
1     FAIRFIELD
2           NaN
Name: DeathCounty, dtype: object

/Users/ryanbaxter/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
print(opioid_base_df.iloc[0:10,[0,1,2,3,4,9,10,-3]])

        ID           Date      DateType   Age     Sex      DeathCity  \
0  17-0206   3/10/17 0:00  DateReported  51.0    Male        BOROUGH
1  13-0102   3/21/13 0:00   DateofDeath  48.0    Male        NORWALK
2  16-0537    8/7/16 0:00   DateofDeath  44.0    Male        ANSONIA
3  16-0371    6/3/16 0:00   DateofDeath  57.0  Female        ANSONIA
4  13-0052   2/13/13 0:00   DateofDeath  22.0    Male      GREENWICH
5  14-0277   6/29/14 0:00   DateofDeath  23.0    Male        BRISTOL
6  12-0205   8/12/12 0:00   DateofDeath  21.0  Female  WEST HARTFORD
7  13-0404  11/10/13 0:00   DateofDeath  40.0  Female      NEW HAVEN
8  12-0107   4/25/12 0:00   DateofDeath  40.0    Male  EAST HARTFORD
9  13-0161   5/15/13 0:00   DateofDeath  50.0    Male      MONTVILLE

  DeathCounty                                DeathCityGeo
0  NEW LONDON        BOROUGH, CT\n(41.077925, -73.216497)
1   FAIRFIELD         Norwalk, CT\n(41.11805, -73.412906)
2         NaN         ANSONIA, CT\n(41.34198, -73.078296)
3         NaN         ANSONIA, CT\n(41.34198, -73.078296)
4   FAIRFIELD      Greenwich, CT\n(41.026526, -73.628549)
5    HARTFORD        BRISTOL, CT\n(41.673037, -72.945791)
6    HARTFORD  WEST HARTFORD, CT\n(41.762008, -72.741807)
7   NEW HAVEN      New Haven, CT\n(41.308252, -72.924161)
8    HARTFORD  EAST HARTFORD, CT\n(41.769319, -72.643785)
9  NEW LONDON       MONTVILLE, CT\n(41.45303, -72.136336)

Delete blank rows in this order: 1) Date, 2) DateType, and 3) Age

In [11]:
# template df[df.Last_Name.notnull()]
opioid_rowdelete_date = opioid_base_df[opioid_base_df.Date.notnull()]

Validation check

In [12]:
print(opioid_rowdelete_date.Date.isnull() == True)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5073    False
5074    False
5075    False
5076    False
5077    False
5078    False
5079    False
5080    False
5081    False
5082    False
5083    False
5084    False
5085    False
5086    False
5087    False
5088    False
5089    False
5090    False
5091    False
5092    False
5094    False
5095    False
5096    False
5097    False
5098    False
5099    False
5100    False
5101    False
5102    False
5104    False
Name: Date, Length: 5103, dtype: bool

In [13]:
# template df[df.Last_Name.notnull()]
opioid_rowdelete_datetype = opioid_rowdelete_date[opioid_rowdelete_date.DateType.notnull()]

Validation check

In [14]:
print(opioid_rowdelete_datetype.DateType.isnull() == True)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5073    False
5074    False
5075    False
5076    False
5077    False
5078    False
5079    False
5080    False
5081    False
5082    False
5083    False
5084    False
5085    False
5086    False
5087    False
5088    False
5089    False
5090    False
5091    False
5092    False
5094    False
5095    False
5096    False
5097    False
5098    False
5099    False
5100    False
5101    False
5102    False
5104    False
Name: DateType, Length: 5103, dtype: bool

In [15]:
opioid_rowdelete_age = opioid_rowdelete_datetype[opioid_rowdelete_datetype.Age.notnull()]

Validation check

In [16]:
print(opioid_rowdelete_age.Age.isnull() == True)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5071    False
5072    False
5073    False
5074    False
5075    False
5076    False
5077    False
5078    False
5079    False
5080    False
5081    False
5082    False
5083    False
5084    False
5085    False
5086    False
5087    False
5088    False
5089    False
5090    False
5092    False
5094    False
5095    False
5096    False
5097    False
5098    False
5099    False
5100    False
5101    False
5102    False
Name: Age, Length: 5101, dtype: bool

In [17]:
print(opioid_rowdelete_age.Sex.isnull() == True)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5071    False
5072    False
5073    False
5074    False
5075    False
5076    False
5077    False
5078    False
5079    False
5080    False
5081    False
5082    False
5083    False
5084    False
5085    False
5086    False
5087    False
5088    False
5089    False
5090    False
5092    False
5094    False
5095    False
5096    False
5097    False
5098    False
5099    False
5100    False
5101    False
5102    False
Name: Sex, Length: 5101, dtype: bool

Change blanks (NaN) to "Unknown"

In [18]:
# template df['w'].nunique()
opioid_rowdelete_age['Sex'].nunique()

3

In [19]:
# for loop hits on sex to find NaN
sex_hit = []
for value in opioid_rowdelete_age['Sex']:
    if ((value != 'Male') & (value != 'Female')):
        sex_hit.append(value)
print(sex_hit)

[nan, 'Unknown', nan, nan]

Change sex equals NaN to unknown, so that data points are not lost

In [20]:
opioid_rowchange_sex = opioid_rowdelete_age 
opioid_rowchange_sex['Sex'] = opioid_rowchange_sex['Sex'].fillna('Unknown')

/Users/ryanbaxter/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
sex_hit2 = []
for value in opioid_rowchange_sex['Sex']:
    if ((value != 'Male') & (value != 'Female')):
        sex_hit2.append(value)
print(sex_hit2)

['Unknown', 'Unknown', 'Unknown', 'Unknown']

Race blanks change to "Unknown"

In [22]:
opioid_rowchange_race = opioid_rowchange_sex 
opioid_rowchange_race['Race'] = opioid_rowchange_race['Race'].fillna('Unknown')

/Users/ryanbaxter/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
# Delete rows with blank DeathCity
opioid_deleteblank_DeathCity = opioid_rowchange_race[opioid_rowchange_race.DeathCity.notnull()]

In [24]:
len(opioid_deleteblank_DeathCity)

5100

In [25]:
# Delete rows with blank DeathCounty
opioid_deleteblank_DeathCounty = opioid_deleteblank_DeathCity[opioid_deleteblank_DeathCity.DeathCounty.notnull()]

In [26]:
len(opioid_deleteblank_DeathCounty)

4006

Isolate Geocode from "DeathCityGeo" to only include Lat/Long

In [27]:
opioid_geoloc = opioid_deleteblank_DeathCounty
opioid_geoloc['DeathCityGeo'] = opioid_geoloc['DeathCityGeo'].astype(str)
print(opioid_geoloc['DeathCityGeo'].head())

0          BOROUGH, CT\n(41.077925, -73.216497)
1           Norwalk, CT\n(41.11805, -73.412906)
4        Greenwich, CT\n(41.026526, -73.628549)
5          BRISTOL, CT\n(41.673037, -72.945791)
6    WEST HARTFORD, CT\n(41.762008, -72.741807)
Name: DeathCityGeo, dtype: object

/Users/ryanbaxter/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

opioid_geoloc['CleanDeathCityGeo'] = opioid_geoloc['DeathCityGeo'].str.extract(pat = '([0-9])')
print(opioid_geoloc['CleanDeathCityGeo'].head())

In [56]:
# opioid_geoloc['CleanDeathCityGeo'] = opioid_geoloc['DeathCityGeo'].str.extract(pat = '([0-9])')

CleanDeathCityGeo = opioid_geoloc['DeathCityGeo'].str.split(r'(', n=1, expand=True)
print(CleanDeathCityGeo.head())

                     0                       1
0        BOROUGH, CT\n  41.077925, -73.216497)
1        Norwalk, CT\n   41.11805, -73.412906)
4      Greenwich, CT\n  41.026526, -73.628549)
5        BRISTOL, CT\n  41.673037, -72.945791)
6  WEST HARTFORD, CT\n  41.762008, -72.741807)

In [57]:
CleanDeathCityGeo[1] = CleanDeathCityGeo[1].str.replace(')', '', regex=False)
print(CleanDeathCityGeo.head())

                     0                      1
0        BOROUGH, CT\n  41.077925, -73.216497
1        Norwalk, CT\n   41.11805, -73.412906
4      Greenwich, CT\n  41.026526, -73.628549
5        BRISTOL, CT\n  41.673037, -72.945791
6  WEST HARTFORD, CT\n  41.762008, -72.741807

In [58]:
CleanDeathCityGeo = CleanDeathCityGeo.drop(CleanDeathCityGeo.columns[0],axis=1)
print(CleanDeathCityGeo.head())

                       1
0  41.077925, -73.216497
1   41.11805, -73.412906
4  41.026526, -73.628549
5  41.673037, -72.945791
6  41.762008, -72.741807

In [64]:
opioid_export = opioid_geoloc
opioid_export['CleanDeathCityGeo'] = CleanDeathCityGeo[1]
opioid_export.head()

/Users/ryanbaxter/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo,CleanDeathCityGeo
0,17-0206,3/10/17 0:00,DateReported,51.0,Male,White,NEW LONDON,NEW LONDON,CT,BOROUGH,...,NaN,NaN,NaN,NaN,NaN,Accident,"BOROUGH, CT\n(41.077925, -73.216497)","NEW LONDON, CT\n(41.355167, -72.099561)","GROTON, CT\n(41.343693, -72.07877)","41.077925, -73.216497"
1,13-0102,3/21/13 0:00,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)","41.11805, -73.412906"
4,13-0052,2/13/13 0:00,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)","41.026526, -73.628549"
5,14-0277,6/29/14 0:00,DateofDeath,23.0,Male,White,BRISTOL,NaN,NaN,BRISTOL,...,NaN,NaN,NaN,NaN,NaN,Accident,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","CT\n(41.575155, -72.738288)","41.673037, -72.945791"
6,12-0205,8/12/12 0:00,DateofDeath,21.0,Female,White,WEST HARTFORD,HARTFORD,NaN,WEST HARTFORD,...,NaN,NaN,NaN,NaN,NaN,Accident,"WEST HARTFORD, CT\n(41.762008, -72.741807)","WEST HARTFORD, CT\n(41.762008, -72.741807)","CT\n(41.575155, -72.738288)","41.762008, -72.741807"

In [65]:
opioid_export.dtypes

ID                      object
Date                    object
DateType                object
Age                    float64
Sex                     object
Race                    object
ResidenceCity           object
ResidenceCounty         object
ResidenceState          object
DeathCity               object
DeathCounty             object
Location                object
LocationifOther         object
DescriptionofInjury     object
InjuryPlace             object
InjuryCity              object
InjuryCounty            object
InjuryState             object
COD                     object
OtherSignifican         object
Heroin                  object
Cocaine                 object
Fentanyl                object
FentanylAnalogue        object
Oxycodone               object
Oxymorphone             object
Ethanol                 object
Hydrocodone             object
Benzodiazepine          object
Methadone               object
Amphet                  object
Tramad                  object
Morphine_NotHeroin      object
Hydromorphone           object
Other                   object
OpiateNOS               object
AnyOpioid               object
MannerofDeath           object
DeathCityGeo            object
ResidenceCityGeo        object
InjuryCityGeo           object
CleanDeathCityGeo       object
dtype: object

In [66]:
opioid_export.to_csv(r'ConnecticutAccidentalDeath.csv', encoding='utf-8', index=False, header=True, )